RAW_BUCKET=agri-price-dev-raw
PROJECT_NAME=agri-price
ENV_NAME=dev
PRICE_API_URL=https://dataapi.moc.go.th/gis-product-prices
PRICE_API_TIMEOUT=60
PRODUCT_IDS=P11001,P11002,P11003
WEATHER_API_URL=https://archive-api.open-meteo.com/v1/archive
WEATHER_API_TIMEOUT=60